@{
    ViewData["Title"] = "Home Page";
}

<center>
    <h1>Trash Express</h1>
</center>
<center>
    <img id="Garbage" src="~/img/unnamed.png" alt="Garbage" style="width:350px;height:300px;" />
</center>
