@model Trash_Collector_Proj.Models.Customer
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h1>Trash Express</h1>
</center>
<center>
    <img id="Garbage" src="~/img/unnamed.png" alt="Garbage" style="width:350px;height:300px;"/>
</center>
